.splash {
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}

.splash span {
  display: block;
  font-style: italic;
  padding-top: 30px;
}

.splash img {
  /* grid-row: 1 / span 2; */
  float: left;
  border:  #FFE4B5 10px double ;

  border-radius: 50%;
  margin-right: 50px;
}
