/* --------------------------------------------- */
/* Whole thing */

body {
  display: grid;
  grid-template-rows: 65px repeat(6, auto);
  /* grid-row-gap: 20px; */
  /* grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); */
  grid-template-areas:
  "navigation"
  "intro"
  "about"
  "work-done"
  "social-media"
  "contact"
  "footer"
  /* margin: 10px; */
  /* padding: 5px; */
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* background-color: #B0C4DE */
  /* background: #F5BDB3 -webkit-gradient(linear, left top, left bottom, from(#F5E9B3), to(#F5BDB3)) no-repeat; */
}

.gradient-top {
  /* background: #b3fff2 -webkit-gradient(linear, left top, left bottom, from(#D9A69F), to(#E5E1FF)) no-repeat; */
  /* background: #F5BDB3 -webkit-gradient(linear, left top, left bottom, from(#F5E9B3), to(#F5BDB3)) no-repeat; */
    /* background: #b3fff2 -webkit-gradient(linear, left top, left bottom, from(#f49ac1), to(#FFFFFF)) no-repeat; */
    background: #b3fff2 -webkit-gradient(linear, left top, left bottom, from(#FFF0F5), to(#FFFFFF)) no-repeat;
}

/* that green and pink one i liked */
/* #b3fff2 */
/* f49ac1 */
/* background: #b3fff2 -webkit-gradient(linear, left top, left bottom, from(#f49ac1), to(#b3fff2)) no-repeat; */

.gradient-bottom {
  /* background: #D9A69F -webkit-gradient(linear, left top, left bottom, from(#E5E1FF), to(#D9A69F)) no-repeat; */
  /* background: #F5BDB3 -webkit-gradient(linear, left top, left bottom, from(#F5E9B3), to(#F5BDB3)) no-repeat; */
  background: #b3fff2 -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFDAB9)) no-repeat;
}


/* --------------------------------------------- */
/* NAV */

.nav-bar ul {
  list-style-type: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.nav-bar {
  grid-area: navigation;
  /* background-color: #F5B3CA; */
  /* background: #F5BDB3 -webkit-gradient(linear, left top, left bottom, from(#F5E9B3), to(#F5BDB3)) no-repeat; */
  /* background:#F5B3CA -webkit-gradient(linear, left top, left bottom, from(#F5C8B3), to(#F5B3CA)) no-repeat; */
  /* background: #D9A69F -webkit-gradient(linear, left top, left bottom, from(#E5E1FF), to(#D9A69F)) no-repeat; */
  padding: 8px;
  position:fixed;
  width: 100%;
}

.nav-bar ul li {
  padding-right: 40px;
}

.nav-bar ul li:hover {
  color:  #E1FFE5;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
}
.nav-bar ul li a:hover {
  color: #FFE4B5;
}


/* --------------------------------------------- */
/* INTRO */
.intro {
  grid-area: intro;
}

/* .intro:hover{
background: #D9A69F -webkit-gradient(linear, left top, left bottom, from(#E5E1FF), to(#D9A69F)) no-repeat;
} */

.splash {
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}

.splash span {
  display: block;
  font-style: italic;
  padding-top: 30px;
}

.splash img {
  /* grid-row: 1 / span 2; */
  float: left;
  border:  #FFE4B5 10px double ;

  border-radius: 50%;
  margin-right: 50px;
}

/* --------------------------------------------- */
/* ABOUT */
.about {
  grid-area: about;
}
.about:hover{
  background: #FFE4B5 -webkit-gradient(linear, left top, left bottom, from(#FFF0F5), to(#FFE4B5)) no-repeat;
}

/* --------------------------------------------- */
/* WORK-DONE */
.work-done {
  grid-area: work-done;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 20% 80%

  /* TODO: make it centralized, put repo link, image..?/icon, border?division-line, gap in between...  */
}

.work-done:hover{
  background:  #FFE4B5 -webkit-gradient(linear, left top, left bottom, from(#FFF0F5), to(#FFE4B5)) no-repeat;
}

.work-done .github {
  grid-column: 1 / -1;
}

/* --------------------------------------------- */
/* SOCIAL-MEDIA */
.social-media {
  grid-area: social-media;
}
.social-media:hover{
  background:  #FFE4B5 -webkit-gradient(linear, left top, left bottom, from(#FFF0F5), to(#FFE4B5)) no-repeat;
}
/* --------------------------------------------- */
/* CONTACT */
.contact {
  grid-area: contact;
}
.contact:hover{
  background: #FFE4B5 -webkit-gradient(linear, left top, left bottom, from(#FFF0F5), to(#FFE4B5)) no-repeat;
}

/* --------------------------------------------- */
/* FOOTER */
.footer {
  grid-area: footer;
}
.footer:hover{
  background:  #FFE4B5 -webkit-gradient(linear, left top, left bottom, from(#FFF0F5), to(#FFE4B5)) no-repeat;
}
