/* --------------------------------------------- */
/* Whole thing */
@import url('https://fonts.googleapis.com/css?family=Itim');

body {
  font-family: 'Itim', cursive;
  display: grid;
  grid-template-rows: 65px repeat(6, auto);
  grid-template-areas:
  "navigation"
  "intro"
  "about"
  "work-done"
  "social-media"
  "contact"
  "footer";
}

.top-bottom {
  background: #FA8072;
}

h1, h2, h3 {
  color: #64332d;
}

p, a, span {
  color: #64332d;
}

.about, .work-done, .contact, .social-media{
  padding-left: 20px;
}

#link-selected {
  color: white;
}
/* --------------------------------------------- */
/* NAV */

.nav-bar ul {
  list-style-type: none;
  /* font-weight: bold; */
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.nav-bar {
  grid-area: navigation;
  padding: 8px;
  position:fixed;
  width: 100%;
}

.nav-bar ul li {
  padding-right: 40px;
}

.nav-bar ul li:hover {
  color:  white;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #64332d;
}
.nav-bar ul li a:hover {
  color: white;
}


/* --------------------------------------------- */
/* INTRO */
.intro {
  grid-area: intro;
  text-align: center;
}


/* --------------------------------------------- */
/* ABOUT */
.about {
  grid-area: about;
}
/* .about:hover{
background: #FA8072;
} */

/* --------------------------------------------- */
/* WORK-DONE */
.work-done {
  grid-area: work-done;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(600px, 1fr));
  grid-template-rows: 20% 80%;
  grid-gap: 20px;

  /* TODO: make it centralized, put repo link, image..?/icon, border?division-line, gap in between...  */

}
.work-done img {
  /* grid-row: 1 / span 2; */
  /* float: left;*/
  border:  #FA8072 10px double ;
}
.work-done div:hover{
  background:  #FA8072 -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FA8072)) no-repeat;
}

.work-done div {
  border-bottom:  5px dotted #FA8072;
  display: flex;
  flex-direction: column;
}

.work-done div h3{
  text-align: center;
  border-radius: 50%;

}

.work-done .work-intro {
  grid-column: 1 / -1;
  text-align: center;
}

/* --------------------------------------------- */
/* SOCIAL-MEDIA */
.social-media {
  grid-area: social-media;
  text-align: center;
  padding: 30px;
}
/* .social-media:hover{
background: #FA8072;
} */
/* --------------------------------------------- */
/* CONTACT */
.contact {
  grid-area: contact;
  text-align: center;
  padding-bottom: 30px;
}
/* .contact:hover{
background: #FA8072;
} */

/* --------------------------------------------- */
/* FOOTER */
.footer {
  grid-area: footer;
  text-align: center;
  background-color: #FA8072;
}
